@CHARSET "UTF-8";

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #5d5d5d;
    line-height: 1.65em;
    font-weight: 300;
}

input, textarea, select {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    font-size: 12pt;
    line-height: 1.75em;
    letter-spacing: 1px;
    padding: 10px 16px;
    margin: 6px 0;
    outline: none;
    box-shadow: none;
}

input[type="submit"] {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    font-size: 12pt;
    line-height: 1.75em;
    letter-spacing: 1px;
    padding: 10px 16px;
    margin: 6px 0;
    outline: none;
    box-shadow: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    min-height: 10em;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* select styling with arrow set als background */
select {
    background-color: #f5f5f5;
    background-image: url("../img/arrow-select.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 20px auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 60px;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 10px;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0);
}

fieldset.grid-50:first-child {
    padding-left: 0;
}

fieldset.grid-50:last-child {
    padding-right: 0;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
}

strong {
    font-weight: bold;
}

a,
.fa {
    max-width: 100%;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

a:hover {
    border-radius: 0;
    text-decoration: none;
    z-index: 1;
}

p a {
    font-weight: normal;
}

header {
    padding-bottom: 1.3rem;
}

.content-header {
    text-align: center;
}

ul,
ol {
    padding-left: 30px;
}

.body-container {
    position: relative;
}

/** css class
 * ========================================================== */

figcaption.control-background h3 {
    color: #fff;
}

/** buttons
 * ========================================================== */

/*.page-header-textlogo-link:hover,
.page-header-logo:hover,
.quiqqer-sheets a:hover,*/
button:hover,
.qui-button:hover,
.button-black:hover,
.button-grey:hover,
.button-white:hover,
.button-silver:hover,
.button-orange:hover,
.button-red:hover,
.button-blue:hover,
.button-rosy:hover,
.button-green:hover,
.button-pink:hover,
.content-button:hover {
    box-shadow: none;
}


.button {
    display: inline-block;
    background: #eee;
    border: 2px solid #eee;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button,
.tpl-businessPro-row .button {
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 6px 16px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

/*input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,*/
button:hover,
.button-active,
.button:active,
.button:hover {
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 1;
}


button:disabled,
button:disabled:hover {
    cursor: default;
    opacity: 0.5;
}

.button.fa:before {
    margin-right: 8px;
}

.main-content .button.special {
    border: 3px solid #efefef;
}

textarea,
textarea:hover,
input,
input:hover {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.sidebox-button {
    background: #414141;
    padding: 10px 20px;
    color: #eee;
    text-decoration: none !important;
}

.sidebox-button:hover {
    box-shadow: none;
}

code {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 2px solid #efefef;
    border-radius: 0.35em;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

blockquote {
    border-left: 6px solid #efefef;
    font-style: italic;
    margin: 0 0 2em;
    padding: 0.5em 0 0.5em 1.5em;
}

pre {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: auto;
}

pre code {
    display: block;
    line-height: 1.75em;
    overflow-x: auto;
    padding: 1em 1.5em;
}

.basic-company-preview-ul {
    list-style: none;
}

ul.basic-company-preview-ul {
    margin: 0 !important;
}

ul.basic-company-preview-ul > li {
    list-style: none;
    display: inline-block;
    width: 25%;
}

ul.basic-company-preview-ul > a,
ul.basic-company-preview-ul > span {
    margin: 0.5em 3em;
}

/** page design
 * ========================================================== */

ul,
ol {
    margin: 0 0 2em;
    padding-left: 1em;
    /*padding-top: 0.5em;*/
}

ul {
    list-style: outside disc;
}

ul li,
ol li {
    padding-left: 0.5em;
}

ol ol,
ol ol ol,
ol ul,
ol ul ul,
ol ul ol,
ul ul,
ul ul ul,
ul ol ol,
ul ol ul {
    margin-bottom: 0;
}

ul.alt li:first-child {
    border-top: 0 none;
    padding-top: 0;
}

ul.alt li {
    border-top: 2px solid #efefef;
    padding: 0.5em 0;
}

ul.alt {
    list-style: outside none none;
    padding-left: 0;
}

.page-multible-content {
    margin: 0;
    padding: 0;
}

.prefix-suffix-full-width img {
    line-height: 1em;
}


table {
    max-width: 100%;
}

tr {
    background: #eee;
}

tr:nth-child(2n+1) {
    background: #f5f5f5;
}

tr:only-child {
    background: #eee;
}

td {
    padding: 6px;
}

thead {
    font-weight: bold;
}


/** responsive
 **************************************************/

@media screen and (max-width: 1024px) and (min-width: 768px) {



}

@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 767px) {

}

/*********************************************************************************/
/* Design standard
/*********************************************************************************/

.control-background {
    background: #eee;
}


/*********************************************************************************/
/* contact form (site type: contact)
/*********************************************************************************/

.qui-form > fieldset {
    border: none;
}

.qui-form legend {
    float: none !important; /* komischer bug in chrome */
    background: none;
    margin-bottom: 10px;
    width: auto;
    padding: 0;
}

.qui-formfield-body {
    padding: 0;
}

.qui-formfield label {
    display: block;
    margin-bottom: 0;
}

.qui-form input[type="submit"] {
    /*width: 100%;*/
    font-weight: bold;
}

/*********************************************************************************/
/* search plugin
/*********************************************************************************/

.qui-search-settings {
    overflow: visible;
}

.form-field-search {
    min-width: 40%;
    margin-right: 40px;
}

.qui-search-result form {
    display: table-cell;
}

.qui-search-result-list-entry-imagelink {
    background-size: contain;

}

.qui-search-result-list-entry-imagelink:hover {
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.qui-button--no-icon {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.qui-button.qui-button--no-icon {
    padding: 6px 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 20px;
}

.qui-button.qui-button--no-icon:hover {
    color: inherit;
}

@media screen and (max-width: 767px) {
    .form-field-search {
        min-width: 100%;
        margin-right: 0;
    }
}

/*********************************************************************************/
/* search plugin - erweiterte Suche
/*********************************************************************************/
.quiqqer-search-searchinput {
    overflow: hidden;
}
.quiqqer-search-searchinput form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

input.quiqqer-search-searchinput-input {
    flex-grow: 3;
    margin: 10px;
    min-width: auto;
}

input.quiqqer-search-searchinput-submit,
input.quiqqer-search-searchinput-submit:last-of-type {
    flex-grow: 1;
    order: 3;
    margin: 10px;
}

div.qui-select {
    border-width: 2px;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect {
    cursor: pointer;
    flex-grow: 1;
    order: 2;
    padding: 0 16px;
    margin: 10px;
    height: auto;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect  .text {
    height: 50px;
    line-height: 50px;
}

.qui-select.quiqqer-search-searchinput-searchfieldselect  .drop-icon {
    height: 50px;
}

/*********************************************************************************/
/* search site types - standard Suche
/*********************************************************************************/

.qui-search-result form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.qui-search-result .form-field-search {
    flex-grow: 3;
    margin: 10px;
    min-width: auto;
}

.qui-search-result input[type="submit"] {
    flex-grow: 1;
    order: 3;
    margin: 10px;
}


/*********************************************************************************/
/* ChildrenList
/* site type: quiqqer/tags:types/tag-search
/*********************************************************************************/

a.qui-control-list-entry-imagelink {
    border: none;
}

a.quiqqer-tags-search-result-entry-link:hover,
.quiqqer-tags-list-result-entry a:hover {
    background: none;
    box-shadow: none;
}

a.quiqqer-tags-search-result-entry-link div,
a.quiqqer-tags-search-result-entry-link:hover div,
.quiqqer-tags-list-result-entry a div,
.quiqqer-tags-list-result-entry a:hover div {
    color: black;
}

a.quiqqer-tags-search-result-entry-link:hover h4,
.quiqqer-tags-list-result-entry a:hover h3 {
    text-decoration: underline;
}

.tpl-businessPro-row a.news-entry-next {
    float: right;
}

/*********************************************************************************/
/* site type: quiqqer/tags:types/tag-search
/*********************************************************************************/

.quiqqer-sheets-desktop-limits a:hover {
    background: none;
    box-shadow: none;
}

/*********************************************************************************/
/* content message
/*********************************************************************************/

.content-message-information,
.content-message-attention,
.content-message-error,
.content-message-success {
    margin: 1em 0;
}

/*********************************************************************************/
/* img brick
/*********************************************************************************/

.brick-image-picture-container {
    line-height: 0;
}


/***************************/
/* template simple styling */
/***************************/

.body-wrapper {
    background-size: cover;
    background-position: center;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

/* logo */
.logo-wrapper {
    margin: 30px 0;
}

.logo-wrapper a {
    display: block;
    padding: 20px 0;
    max-width: 300px;
    max-height: 300px;
}

.logo-wrapper a img {
    display: block;
}

/* nav */
.page-navigation ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 90%;
    text-align: center;
}

.page-navigation ul li {
    padding: 0;
    display: inline;
}

.page-navigation ul li:after {
    content: '|';
    margin: 0 10px;
}

.page-navigation ul li:last-child:after {
    display: none;
}

